# GIT files
.gitattributes text eol=lf
.gitignore text eol=lf
#.gitconfig text eol=lf
#.gitmodules text eol=lf
.gitkeep text eol=lf

# Vendored
LICENSE*.* linguist-vendored

# File types (text/binary, EOL, language, documentation)
*.8bf binary
*.afs text eol=cr
*.ai binary
*.bat text eol=crlf linguist-language=Batchfile
*.bin binary
*.bmp binary
*.c text eol=crlf linguist-language=C
*.cpp text eol=crlf linguist-language=C++
*.csv text eol=crlf
*.cur binary
*.def text eol=crlf
*.dll binary
*.docx binary linguist-documentation
*.exe binary
*.exp text eol=crlf
*.ffx binary
*.h text eol=crlf linguist-language=C
*.hpp text eol=crlf linguist-language=C++
*.html text eol=crlf linguist-language=HTML
*.ico binary
*.jpg binary
*.l text eol=crlf linguist-language=Lex
Makefile.mac text eol=lf linguist-language=Makefile
*.mak text eol=crlf linguist-language=Makefile
FilterFoundry.make text eol=lf linguist-language=Makefile
*.mcp binary
*.md text eol=crlf linguist-language=Markdown linguist-documentation
*.pdf binary linguist-documentation
*.pff text eol=cr
*.plist text eol=lf
*.png binary
*.prm binary
*.psd binary
*.r text eol=crlf linguist-language=R
*.rc text eol=crlf
*.sln text eol=crlf
*.svg binary
*.tgt text eol=crlf
*.txt text eol=crlf linguist-language=Text linguist-documentation
*.vcxproj text eol=crlf
Makefile.win text eol=crlf linguist-language=Makefile
*.wpj text eol=crlf
*.xlsx binary
*.xml text eol=crlf linguist-language=XML
*.y text eol=crlf linguist-language=Yacc
*.yy text eol=crlf linguist-language=Yacc
