lex_yy.c
lex.yy.c
y.tab.h
y.tab.c
y_tab.c
*.8bf

obj/*.*

obj_w32/*.*

photoshop_sdk/connectionsdk/
photoshop_sdk/images/
photoshop_sdk/pluginsdk/
photoshop_sdk/license.html
photoshop_sdk/ReadMe.html

3264_mixer\.vs
3264_mixer\*.tmp
3264_mixer\*.tlog
3264_mixer\*.obj
3264_mixer\*.iobj
3264_mixer\*.pdb
3264_mixer\*.ipdb
3264_mixer\*.log
3264_mixer\*.lastbuilddate
3264_mixer\*.FileListAbsolute.txt

3264_mixer\in\*.8bf
3264_mixer\out\*.8bf

visual_studio/.vs
visual_studio/*.obj
visual_studio/*.res
visual_studio/*.8bf
visual_studio/*.exp
visual_studio/*.lib
visual_studio/*.tlog
visual_studio/*.iobj
visual_studio/*.pdb
visual_studio/*.ipdb
visual_studio/*.log
visual_studio/*.lastbuilddate
visual_studio/*.FileListAbsolute.txt
visual_studio/*.recipe
visual_studio/*.idb
visual_studio/*.8bf.manifest
visual_studio/*.intermediate.manifest


win_flex_bison/custom_build_rules
win_flex_bison/data/
win_flex_bison/FlexLexer.h
win_flex_bison/README.txt
win_flex_bison/UNISTD_ERROR.readme
win_flex_bison/win_bison.exe
win_flex_bison/win_flex.exe
win_flex_bison/changelog.md

wpj/*.err
wpj/*.mk
wpj/*.mk1
wpj/*.dll
wpj/*.8bf
wpj/*.map
wpj/*.obj
wpj/*.lib
wpj/*.lk1
wpj/*.res
