<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict>	<key>CFBundleExecutable</key>	<string>FilterFoundry</string>	<key>CFBundleGetInfoHTML</key>	<string>Filter Foundry Copyright (C) 2002-3 Toby Thain, &lt;a href="mailto:toby@telegraphics.com.au"&gt;toby@telegraphics.com.au&lt;/a&gt; &lt;a href="http://www.telegraphics.com.au/sw/"&gt;Telegraphics&lt;/a&gt;</string>	<key>CFBundleGetInfoString</key>	<string>VERSION_STR @ BUILD_DATE</string>	<key>CFBundleName</key>	<string>Filter Foundry</string>	<key>CFBundlePackageType</key>	<string>8BFM</string>	<key>CFBundleShortVersionString</key>	<string>VERSION_STR</string>	<key>CFBundleSignature</key>	<string>8BIM</string>	<key>CFBundleVersion</key>	<string>VERSION_STR</string></dict></plist>