/*
    This file is part of "Filter Foundry", a filter plugin for Adobe Photoshop
    Copyright (C) 2003-2009 Toby Thain, toby@telegraphics.com.au
    Copyright (C) 2018-2022 Daniel Marschall, ViaThinkSoft

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
*/

#include "language.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
STRINGTABLE
{
	// TODO: mingw windres does not want the MSG_* defines here :-( Why?! Even Watcom can do it!
	MSG_PREMIERE_COMPAT_ID, MSG_PREMIERE_COMPAT_ENUS
	MSG_RUNDLL_ERR_ID, MSG_RUNDLL_ERR_ENUS
	MSG_INCOMPATIBLE_OBFUSCATION_ID, MSG_INCOMPATIBLE_OBFUSCATION_ENUS
	MSG_FILTER_PROTECTED_ID, MSG_FILTER_PROTECTED_ENUS
	MSG_LOADFILE_UNKNOWN_FORMAT_ID, MSG_LOADFILE_UNKNOWN_FORMAT_ENUS
	MSG_INVALID_PARAMETER_DATA_ID, MSG_INVALID_PARAMETER_DATA_ENUS
	MSG_CANNOT_ZOOM_ID, MSG_CANNOT_ZOOM_ENUS
	MSG_CANNOT_ZOOM_MEMFULL_ID, MSG_CANNOT_ZOOM_MEMFULL_ENUS
	MSG_BUILT32_ID, MSG_BUILT32_ENUS
	MSG_BUILT64_ID, MSG_BUILT64_ENUS
	MSG_CANNOT_OPEN_FILE_ID, MSG_CANNOT_OPEN_FILE_ENUS
	MSG_CANNOT_CREATE_FILE_ID, MSG_CANNOT_CREATE_FILE_ENUS
	MSG_EXPRESSION1024_FOUND_ID, MSG_EXPRESSION1024_FOUND_ENUS
	MSG_EXPRESSION_OOM_ID, MSG_EXPRESSION_OOM_ENUS
	MSG_FILTERS_UNLIMITED_WARNING_ID, MSG_FILTERS_UNLIMITED_WARNING_ENUS
	MSG_FORMULA_IR_1023_TRUNCATED_ID, MSG_FORMULA_IR_1023_TRUNCATED_ENUS
	MSG_FORMULA_R_1023_TRUNCATED_ID, MSG_FORMULA_R_1023_TRUNCATED_ENUS
	MSG_FORMULA_G_1023_TRUNCATED_ID, MSG_FORMULA_G_1023_TRUNCATED_ENUS
	MSG_FORMULA_B_1023_TRUNCATED_ID, MSG_FORMULA_B_1023_TRUNCATED_ENUS
	MSG_FORMULA_A_1023_TRUNCATED_ID, MSG_FORMULA_A_1023_TRUNCATED_ENUS
	MSG_CANNOT_CREATE_32BIT_FILTER_ID, MSG_CANNOT_CREATE_32BIT_FILTER_ENUS
	MSG_CANNOT_CREATE_64BIT_FILTER_ID, MSG_CANNOT_CREATE_64BIT_FILTER_ENUS
	MSG_CANNOT_SAVE_SETTINGS_ID, MSG_CANNOT_SAVE_SETTINGS_ENUS
	MSG_CANNOT_LOAD_SETTINGS_ID, MSG_CANNOT_LOAD_SETTINGS_ENUS
	MSG_SAVED_EXPR_ERR_ID, MSG_SAVED_EXPR_ERR_ENUS
	MSG_CATEGORY_EMPTY_ERR_ID, MSG_CATEGORY_EMPTY_ERR_ENUS
	MSG_TITLE_EMPTY_ERR_ID, MSG_TITLE_EMPTY_ERR_ENUS
	MSG_UNICODE_DATA_WARNING_ID, MSG_UNICODE_DATA_WARNING_ENUS
	MSG_EXTCHARSET_DATA_WARNING_ID, MSG_EXTCHARSET_DATA_WARNING_ENUS
	MSG_SLIDER_UNAVAILABLE_ID, MSG_SLIDER_UNAVAILABLE_ENUS
	MSG_PICO_SAVED_ID, MSG_PICO_SAVED_ENUS
	MSG_PLEASE_EDIT_MANUALLY_ID, MSG_PLEASE_EDIT_MANUALLY_ENUS
	MSG_FIND_DOKU_HERE_ID, MSG_FIND_DOKU_HERE_ENUS
	MSG_ERROR_IN_EXPRESSION_CLICK_DETAILS_ID, MSG_ERROR_IN_EXPRESSION_CLICK_DETAILS_ENUS
	MSG_ZOOM_IN_ID, MSG_ZOOM_IN_ENUS
	MSG_ZOOM_OUT_ID, MSG_ZOOM_OUT_ENUS
	MSG_FULLY_ZOOM_INOUT_ID, MSG_FULLY_ZOOM_INOUT_ENUS
	MSG_LOAD_FILTER_SETTINGS_TITLE_ID, MSG_LOAD_FILTER_SETTINGS_TITLE_ENUS
	MSG_SAVE_FILTER_SETTINGS_TITLE_ID, MSG_SAVE_FILTER_SETTINGS_TITLE_ENUS
	MSG_MAKE_FILTER_SETTINGS_TITLE_ID, MSG_MAKE_FILTER_SETTINGS_TITLE_ENUS
	MSG_ALL_SUPPORTED_FILES_ID, MSG_ALL_SUPPORTED_FILES_ENUS
	MSG_ALL_FILES_ID, MSG_ALL_FILES_ENUS
	MSG_OPEN_AFS_ID, MSG_OPEN_AFS_ENUS
	MSG_OPEN_TXT_ID, MSG_OPEN_TXT_ENUS
	MSG_OPEN_8BF_ID, MSG_OPEN_8BF_ENUS
	MSG_OPEN_PFF_ID, MSG_OPEN_PFF_ENUS
	MSG_OPEN_PRM_ID, MSG_OPEN_PRM_ENUS
	MSG_OPEN_RSRC_ID, MSG_OPEN_RSRC_ENUS
	MSG_OPEN_FFX_ID, MSG_OPEN_FFX_ENUS
	MSG_SAVE_AFS_ID, MSG_SAVE_AFS_ENUS
	MSG_SAVE_PFF_ID, MSG_SAVE_PFF_ENUS
	MSG_SAVE_TXT_ID, MSG_SAVE_TXT_ENUS
	MSG_MAKE_8BF_ID, MSG_MAKE_8BF_ENUS
	MSG_ABOUT_BY_ID, MSG_ABOUT_BY_ENUS
	MSG_ABOUT_BUILT_USING_ID, MSG_ABOUT_BUILT_USING_ENUS
	MSG_ABOUT_LATEST_VERSION_FROM_ID, MSG_ABOUT_LATEST_VERSION_FROM_ENUS
	MSG_ABOUT_CONTACT_AUTHOR_ID, MSG_ABOUT_CONTACT_AUTHOR_ENUS
}

LANGUAGE LANG_GERMAN, SUBLANG_GERMAN
STRINGTABLE
{
	// TODO: mingw windres does not want the MSG_* defines here :-( Why?! Even Watcom can do it!
	MSG_PREMIERE_COMPAT_ID, MSG_PREMIERE_COMPAT_DEDE
	MSG_RUNDLL_ERR_ID, MSG_RUNDLL_ERR_DEDE
	MSG_INCOMPATIBLE_OBFUSCATION_ID, MSG_INCOMPATIBLE_OBFUSCATION_DEDE
	MSG_FILTER_PROTECTED_ID, MSG_FILTER_PROTECTED_DEDE
	MSG_LOADFILE_UNKNOWN_FORMAT_ID, MSG_LOADFILE_UNKNOWN_FORMAT_DEDE
	MSG_INVALID_PARAMETER_DATA_ID, MSG_INVALID_PARAMETER_DATA_DEDE
	MSG_CANNOT_ZOOM_ID, MSG_CANNOT_ZOOM_DEDE
	MSG_CANNOT_ZOOM_MEMFULL_ID, MSG_CANNOT_ZOOM_MEMFULL_DEDE
	MSG_BUILT32_ID, MSG_BUILT32_DEDE
	MSG_BUILT64_ID, MSG_BUILT64_DEDE
	MSG_CANNOT_OPEN_FILE_ID, MSG_CANNOT_OPEN_FILE_DEDE
	MSG_CANNOT_CREATE_FILE_ID, MSG_CANNOT_CREATE_FILE_DEDE
	MSG_EXPRESSION1024_FOUND_ID, MSG_EXPRESSION1024_FOUND_DEDE
	MSG_EXPRESSION_OOM_ID, MSG_EXPRESSION_OOM_DEDE
	MSG_FILTERS_UNLIMITED_WARNING_ID, MSG_FILTERS_UNLIMITED_WARNING_DEDE
	MSG_FORMULA_IR_1023_TRUNCATED_ID, MSG_FORMULA_IR_1023_TRUNCATED_DEDE
	MSG_FORMULA_R_1023_TRUNCATED_ID, MSG_FORMULA_R_1023_TRUNCATED_DEDE
	MSG_FORMULA_G_1023_TRUNCATED_ID, MSG_FORMULA_G_1023_TRUNCATED_DEDE
	MSG_FORMULA_B_1023_TRUNCATED_ID, MSG_FORMULA_B_1023_TRUNCATED_DEDE
	MSG_FORMULA_A_1023_TRUNCATED_ID, MSG_FORMULA_A_1023_TRUNCATED_DEDE
	MSG_CANNOT_CREATE_32BIT_FILTER_ID, MSG_CANNOT_CREATE_32BIT_FILTER_DEDE
	MSG_CANNOT_CREATE_64BIT_FILTER_ID, MSG_CANNOT_CREATE_64BIT_FILTER_DEDE
	MSG_CANNOT_SAVE_SETTINGS_ID, MSG_CANNOT_SAVE_SETTINGS_DEDE
	MSG_CANNOT_LOAD_SETTINGS_ID, MSG_CANNOT_LOAD_SETTINGS_DEDE
	MSG_SAVED_EXPR_ERR_ID, MSG_SAVED_EXPR_ERR_DEDE
	MSG_CATEGORY_EMPTY_ERR_ID, MSG_CATEGORY_EMPTY_ERR_DEDE
	MSG_TITLE_EMPTY_ERR_ID, MSG_TITLE_EMPTY_ERR_DEDE
	MSG_UNICODE_DATA_WARNING_ID, MSG_UNICODE_DATA_WARNING_DEDE
	MSG_EXTCHARSET_DATA_WARNING_ID, MSG_EXTCHARSET_DATA_WARNING_DEDE
	MSG_SLIDER_UNAVAILABLE_ID, MSG_SLIDER_UNAVAILABLE_DEDE
	MSG_PICO_SAVED_ID, MSG_PICO_SAVED_DEDE
	MSG_PLEASE_EDIT_MANUALLY_ID, MSG_PLEASE_EDIT_MANUALLY_DEDE
	MSG_FIND_DOKU_HERE_ID, MSG_FIND_DOKU_HERE_DEDE
	MSG_ERROR_IN_EXPRESSION_CLICK_DETAILS_ID, MSG_ERROR_IN_EXPRESSION_CLICK_DETAILS_DEDE
	MSG_ZOOM_IN_ID, MSG_ZOOM_IN_DEDE
	MSG_ZOOM_OUT_ID, MSG_ZOOM_OUT_DEDE
	MSG_FULLY_ZOOM_INOUT_ID, MSG_FULLY_ZOOM_INOUT_DEDE
	MSG_LOAD_FILTER_SETTINGS_TITLE_ID, MSG_LOAD_FILTER_SETTINGS_TITLE_DEDE
	MSG_SAVE_FILTER_SETTINGS_TITLE_ID, MSG_SAVE_FILTER_SETTINGS_TITLE_DEDE
	MSG_MAKE_FILTER_SETTINGS_TITLE_ID, MSG_MAKE_FILTER_SETTINGS_TITLE_DEDE
	MSG_ALL_SUPPORTED_FILES_ID, MSG_ALL_SUPPORTED_FILES_DEDE
	MSG_ALL_FILES_ID, MSG_ALL_FILES_DEDE
	MSG_OPEN_AFS_ID, MSG_OPEN_AFS_DEDE
	MSG_OPEN_TXT_ID, MSG_OPEN_TXT_DEDE
	MSG_OPEN_8BF_ID, MSG_OPEN_8BF_DEDE
	MSG_OPEN_PFF_ID, MSG_OPEN_PFF_DEDE
	MSG_OPEN_PRM_ID, MSG_OPEN_PRM_DEDE
	MSG_OPEN_RSRC_ID, MSG_OPEN_RSRC_DEDE
	MSG_OPEN_FFX_ID, MSG_OPEN_FFX_DEDE
	MSG_SAVE_AFS_ID, MSG_SAVE_AFS_DEDE
	MSG_SAVE_PFF_ID, MSG_SAVE_PFF_DEDE
	MSG_SAVE_TXT_ID, MSG_SAVE_TXT_DEDE
	MSG_MAKE_8BF_ID, MSG_MAKE_8BF_DEDE
	MSG_ABOUT_BY_ID, MSG_ABOUT_BY_DEDE
	MSG_ABOUT_BUILT_USING_ID, MSG_ABOUT_BUILT_USING_DEDE
	MSG_ABOUT_LATEST_VERSION_FROM_ID, MSG_ABOUT_LATEST_VERSION_FROM_DEDE
	MSG_ABOUT_CONTACT_AUTHOR_ID, MSG_ABOUT_CONTACT_AUTHOR_DEDE

}
