/*
    This file is part of "Filter Foundry", a filter plugin for Adobe Photoshop
    Copyright (C) 2003-2009 Toby Thain, toby@telegraphics.com.au
    Copyright (C) 2018-2021 Daniel Marschall, ViaThinkSoft

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
*/

#include "PIResDefines.h"
#include "PIActions.h"

#include "ui.h"
#include "version.h"

#define LC(a,b,c,d) #d, #c, #b, #a

/* 8BIM = Adobe Photoshop */
#define VENDORID LC(8,B,I,M)

#define NULLID 0L

/* Note: make_win.c writes language 0. So, this should be language 0, too,
   otherwise the standalone filter would have 2 languages for this resource. */
LANGUAGE LANG_NEUTRAL,SUBLANG_NEUTRAL
16000  PiPL  DISCARDABLE
BEGIN
	0x0001,     /* Reserved (for Photoshop) */
	0L,         /* kCurrentPiPLVersion */
	9L,         /* Property Count */

	VENDORID, LC(c,a,t,g), NULLID, 16L, "\014Telegraphics\0\0\0",    /* PString */
	VENDORID, LC(n,a,m,e), NULLID, 20L, "\021Filter Foundry...\0\0", /* PString */

	/* HasTerminology { plugInClassID, plugInEventID, AETE_ID, vendorName " " plugInName }, */
	VENDORID, LC(h,s,t,m), NULLID, 16L, /* = 3*4 + 2 + sizeof(c string) + padding */
	0L,                /* version */
	LC(F,l,t,r),       /* Class ID, always required.  Must be eventFilter='Fltr' to show up in "Actions" tab. */
	LC(f,i,F,o),       /* Event ID, or typeNULL if not Filter/Color Picker/Selection. */
	AETE_ID,           /* Dictionary ('AETE') resource ID. (only 2 bytes long!) */

	/*"Telegraphics FilterFoundry\0\0\0\0"*/
	/* Unique scope string, C format, long padded. If set, the plugin will only communicate with the host (Photoshop), not with AppleScript. */
	/* Beginning with 1.7.0.2, we accept AppleScript, since the AETE keys are now randomly chosen for each standalone plugin. */
	"\0\0"

	#ifdef _WIN64
		VENDORID, LC(8,6,6,4), NULLID, 12L, "PluginMain\0\0",  /* Entrypoint Name (Long Word padded C String) */
	#else
		VENDORID, LC(w,x,8,6), NULLID, 12L, "PluginMain\0\0",  /* Entrypoint Name (Long Word padded C String) */
	#endif

	#include "PiPL_body.rc"

END

LANGUAGE LANG_NEUTRAL,SUBLANG_NEUTRAL
16032  TPLT  DISCARDABLE
BEGIN
	0x0001,       /* Reserved (for Photoshop) */
	0L,           /* kCurrentPiPLVersion */
	6L,           /* Property Count */
	VENDORID, LC(w,x,8,6), NULLID, 12L, "PluginMain\0\0",  /* Entrypoint Name (Long Word padded C String) */
	#include "PiPL_body.rc"
END

LANGUAGE LANG_NEUTRAL,SUBLANG_NEUTRAL
16064  TPLT  DISCARDABLE
BEGIN
	0x0001,       /* Reserved (for Photoshop) */
	0L,           /* kCurrentPiPLVersion */
	6L,           /* Property Count */
	VENDORID, LC(8,6,6,4), NULLID, 12L, "PluginMain\0\0",  /* Entrypoint Name (Long Word padded C String) */
	#include "PiPL_body.rc"
END
