/*
    This file is part of "Filter Foundry", a filter plugin for Adobe Photoshop
    Copyright (C) 2003-2019 Toby Thain, toby@telegraphics.com.au

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
*/

VENDORID, LC(k,i,n,d), NULLID, 4L, LC(8,B,F,M),	/* Filter module */
VENDORID, LC(v,e,r,s), NULLID, 4L, latestFilterSubVersion,latestFilterVersion, /* Version Number */

#ifdef _WIN64
    VENDORID, LC(8,6,6,4), NULLID, 12L, "PluginMain\0\0",  /* Entrypoint Name (Long Word padded C String) */
#else
    VENDORID, LC(w,x,8,6), NULLID, 12L, "PluginMain\0\0",  /* Entrypoint Name (Long Word padded C String) */
#endif

VENDORID, LC(m,o,d,e), NULLID, 4L, /* first 2 bytes:  */ flagSupportsGrayScale|flagSupportsIndexedColor|flagSupportsRGBColor|flagSupportsCMYKColor|flagSupportsHSLColor|flagSupportsHSBColor|flagSupportsMultichannel,
                                   /* second 2 bytes: */ flagSupportsDuotone|flagSupportsLABColor,
/* FilterCaseInfo - in all cases:
	   inStraightData,
	   outStraightData,
	   doNotWriteOutsideSelection,
	   doesNotFilterLayerMasks,
	   worksWithBlankData,
	   doNotCopySourceToDestination */
VENDORID, LC(f,i,c,i), NULLID, 28L,
	"\001\001\003\000","\001\001\003\000","\001\001\003\000","\001\001\003\000",
	"\001\001\003\000","\001\001\003\000","\001\001\003\000",

/* HasTerminology { plugInClassID, plugInEventID, AETE_ID, vendorName " " plugInName }, */
VENDORID, LC(h,s,t,m), NULLID, 44L, /* = 3*4 + 2 + sizeof(c string) + padding */
	0L,								/* version */
	LC(f,i,F,o),					/* Class ID, always required.  Can be Suite ID. */
	LC(f,i,F,o),					/* Event ID, or typeNULL if not Filter/Color Picker/Selection. */
	AETE_ID,						/* Dictionary ('AETE') resource ID. (only 2 bytes long!) */
	"Telegraphics FilterFoundry\0\0\0\0" /* Unique scope string, C format, long padded.
											Always required in Photoshop 5.0 and later. */
