
SYSTEM REQUIREMENTS
===================

Windows:
	OS:         Windows XP (if built with Win10 SDK)
	            If built with older SDKs, it works with older OS too: Tested with Windows 2000
	Software:   Tested with Photoshop 7 (tbd: Minimum supported version)
	            Tested with Corel Paint Shop Pro X
	Machine:    Any x86 or x64 CPU
	
Mac:
	OS:         tbd
	Machine:    ?
