
SYSTEM REQUIREMENTS / TESTS
===========================

Windows:
	OS:         Windows XP (if built with Win10 SDK)
	            Windows 98 (if built with OpenWatcom), maybe even Win95
	Hosts:      Tested with Photoshop 3.0.5, 4.0, 4.0.1, 5, 7.0.1, CS6
	            Tested with Corel Paint Shop Pro X
	Machine:    Any x86 or x64 CPU
	
Mac:
	OS:         tbd
	Machine:    ?
