
SYSTEM REQUIREMENTS / TESTS
===========================

Windows:
	OS:         Minimum Windows XP (if plugin is built with a modern Windows SDK / modern VC++ compiler)
	            Minimum Windows 95 (if plugin is built with OpenWatcom)
	            Latest OS tested: Windows 10
	Hosts:      Tested with Adobe Photoshop 3 - CS6
	            Tested with Corel Paint Shop Pro X
	            It should work on most programs that support "8BF" Photoshop filters
	Machine:    Any x86 or x64 CPU
	
Mac:
	OS:         tbd
	Machine:    ?
