/*
    This file is part of "Filter Foundry", a filter plugin for Adobe Photoshop
    Copyright (C) 2003-7 Toby Thain, toby@telegraphics.com.au

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by  
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License  
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
*/

/* Windows UI resources */

#include "winuser.h"
#include "commctrl.h"
#include "ui.h"

/*CAUTION_BMP BITMAP "caution.bmp"*/
CAUTION_ICO ICON "caution.ico"
ZOOMIN_ICO ICON "zoomin.ico"
ZOOMOUT_ICO ICON "zoomout.ico"

/* left,top,w,h */

ID_MAINDLG DIALOG DISCARDABLE  150,50, 308,277
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Filter Foundry"
FONT 8, "MS Sans Serif"
BEGIN
	DEFPUSHBUTTON	"&OK",IDOK,			256,253, 42,14
	PUSHBUTTON		"&Cancel",IDCANCEL,	206,253, 42,14
	PUSHBUTTON	"Load...",OPENITEM,		10,253, 42,14
	PUSHBUTTON	"Save...",SAVEITEM,		60,253, 42,14
	PUSHBUTTON	"Make...",MAKEITEM,		110,253, 42,14

	CONTROL		"",PREVIEWITEM,				"Static",SS_OWNERDRAW|SS_NOTIFY,				15,10, 100,100
	CONTROL		"ZOOMIN_ICO",ZOOMINITEM,	"Static",SS_ICON|SS_REALSIZEIMAGE|SS_NOTIFY,	103,115, 12,12
	CONTROL		"ZOOMOUT_ICO",ZOOMOUTITEM,	"Static",SS_ICON|SS_REALSIZEIMAGE|SS_NOTIFY,	15,115, 12,12
	CONTROL		"",ZOOMLEVELITEM,			"Static",SS_CENTER|SS_NOTIFY,					37,115, 56,12

	LTEXT		"ctl(0)",100,			129,10, 15,12
	LTEXT		"ctl(1)",101,			129,25, 15,12
	LTEXT		"ctl(2)",102,			129,40, 15,12
	LTEXT		"ctl(3)",103,			129,55, 15,12
	LTEXT		"ctl(4)",104,			129,70, 15,12
	LTEXT		"ctl(5)",105,			129,85, 15,12
	LTEXT		"ctl(6)",106,			129,100, 15,12
	LTEXT		"ctl(7)",107,			129,115, 15,12

	CONTROL		"",FIRSTCTLITEM,		"msctls_trackbar32",TBS_HORZ|TBS_AUTOTICKS,	154,10, 100,10
	CONTROL		"",FIRSTCTLITEM+1,		"msctls_trackbar32",TBS_HORZ|TBS_AUTOTICKS,	154,25, 100,10
	CONTROL		"",FIRSTCTLITEM+2,		"msctls_trackbar32",TBS_HORZ|TBS_AUTOTICKS,	154,40, 100,10
	CONTROL		"",FIRSTCTLITEM+3,		"msctls_trackbar32",TBS_HORZ|TBS_AUTOTICKS,	154,55, 100,10
	CONTROL		"",FIRSTCTLITEM+4,		"msctls_trackbar32",TBS_HORZ|TBS_AUTOTICKS,	154,70, 100,10
	CONTROL		"",FIRSTCTLITEM+5,		"msctls_trackbar32",TBS_HORZ|TBS_AUTOTICKS,	154,85, 100,10
	CONTROL		"",FIRSTCTLITEM+6,		"msctls_trackbar32",TBS_HORZ|TBS_AUTOTICKS,	154,100, 100,10
	CONTROL		"",FIRSTCTLITEM+7,		"msctls_trackbar32",TBS_HORZ|TBS_AUTOTICKS,	154,115, 100,10

	EDITTEXT	FIRSTCTLTEXTITEM,		269,10, 24,12,	ES_NUMBER|ES_RIGHT
	EDITTEXT	FIRSTCTLTEXTITEM+1,		269,25, 24,12,	ES_NUMBER|ES_RIGHT
	EDITTEXT	FIRSTCTLTEXTITEM+2,		269,40, 24,12,	ES_NUMBER|ES_RIGHT
	EDITTEXT	FIRSTCTLTEXTITEM+3,		269,55, 24,12,	ES_NUMBER|ES_RIGHT
	EDITTEXT	FIRSTCTLTEXTITEM+4,		269,70, 24,12,	ES_NUMBER|ES_RIGHT
	EDITTEXT	FIRSTCTLTEXTITEM+5,		269,85, 24,12,	ES_NUMBER|ES_RIGHT
	EDITTEXT	FIRSTCTLTEXTITEM+6,		269,100, 24,12,	ES_NUMBER|ES_RIGHT
	EDITTEXT	FIRSTCTLTEXTITEM+7,		269,115, 24,12,	ES_NUMBER|ES_RIGHT

	LTEXT		"R =",FIRSTLABELITEM,	15,135, 13,12
	LTEXT		"G =",FIRSTLABELITEM+1,	15,163, 13,12
	LTEXT		"B =",FIRSTLABELITEM+2,	15,191, 13,12
	LTEXT		"A =",FIRSTLABELITEM+3,	15,219, 13,12

	CONTROL		"CAUTION_ICO",FIRSTICONITEM,   "Static",SS_ICON|SS_REALSIZEIMAGE|SS_NOTIFY,  15,147, 12,12
	CONTROL		"CAUTION_ICO",FIRSTICONITEM+1, "Static",SS_ICON|SS_REALSIZEIMAGE|SS_NOTIFY,  15,175, 12,12
	CONTROL		"CAUTION_ICO",FIRSTICONITEM+2, "Static",SS_ICON|SS_REALSIZEIMAGE|SS_NOTIFY,  15,203, 12,12
	CONTROL		"CAUTION_ICO",FIRSTICONITEM+3, "Static",SS_ICON|SS_REALSIZEIMAGE|SS_NOTIFY,  15,231, 12,12

	EDITTEXT	FIRSTEXPRITEM,			35,135, 258, 24, ES_AUTOVSCROLL|ES_MULTILINE|ES_WANTRETURN
	EDITTEXT	FIRSTEXPRITEM+1,		35,163, 258, 24, ES_AUTOVSCROLL|ES_MULTILINE|ES_WANTRETURN
	EDITTEXT	FIRSTEXPRITEM+2,		35,191, 258, 24, ES_AUTOVSCROLL|ES_MULTILINE|ES_WANTRETURN
	EDITTEXT	FIRSTEXPRITEM+3,		35,219, 258, 24, ES_AUTOVSCROLL|ES_MULTILINE|ES_WANTRETURN
END

ID_PARAMDLG DIALOG DISCARDABLE  150,50, 308,161
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Filter Foundry"
FONT 8, "MS Sans Serif"
BEGIN
	DEFPUSHBUTTON	"&OK",IDOK,			256,137, 42,14
	PUSHBUTTON		"&Cancel",IDCANCEL,	206,137, 42,14
	LTEXT		"",PARAMAUTHORITEM,		10,137, 42,20
	LTEXT		"",PARAMCOPYITEM,		60,137, 140,20

	CONTROL		"",PREVIEWITEM,				"Static",SS_OWNERDRAW|SS_NOTIFY,				15,10, 100,100
	CONTROL		"ZOOMIN_ICO",ZOOMINITEM,	"Static",SS_ICON|SS_REALSIZEIMAGE|SS_NOTIFY,	103,115, 12,12
	CONTROL		"ZOOMOUT_ICO",ZOOMOUTITEM,	"Static",SS_ICON|SS_REALSIZEIMAGE|SS_NOTIFY,	15,115, 12,12
	CONTROL		"",ZOOMLEVELITEM, 			"Static",SS_CENTER|SS_NOTIFY,					37,115, 56,12

	LTEXT		"ctl(0)",100,			129,10, 15,12
	LTEXT		"ctl(1)",101,			129,25, 15,12
	LTEXT		"ctl(2)",102,			129,40, 15,12
	LTEXT		"ctl(3)",103,			129,55, 15,12
	LTEXT		"ctl(4)",104,			129,70, 15,12
	LTEXT		"ctl(5)",105,			129,85, 15,12
	LTEXT		"ctl(6)",106,			129,100, 15,12
	LTEXT		"ctl(7)",107,			129,115, 15,12

	CONTROL		"",FIRSTCTLITEM,		"msctls_trackbar32",TBS_HORZ|TBS_AUTOTICKS,	154,10, 100,10
	CONTROL		"",FIRSTCTLITEM+1,		"msctls_trackbar32",TBS_HORZ|TBS_AUTOTICKS,	154,25, 100,10
	CONTROL		"",FIRSTCTLITEM+2,		"msctls_trackbar32",TBS_HORZ|TBS_AUTOTICKS,	154,40, 100,10
	CONTROL		"",FIRSTCTLITEM+3,		"msctls_trackbar32",TBS_HORZ|TBS_AUTOTICKS,	154,55, 100,10
	CONTROL		"",FIRSTCTLITEM+4,		"msctls_trackbar32",TBS_HORZ|TBS_AUTOTICKS,	154,70, 100,10
	CONTROL		"",FIRSTCTLITEM+5,		"msctls_trackbar32",TBS_HORZ|TBS_AUTOTICKS,	154,85, 100,10
	CONTROL		"",FIRSTCTLITEM+6,		"msctls_trackbar32",TBS_HORZ|TBS_AUTOTICKS,	154,100, 100,10
	CONTROL		"",FIRSTCTLITEM+7,		"msctls_trackbar32",TBS_HORZ|TBS_AUTOTICKS,	154,115, 100,10

	EDITTEXT	FIRSTCTLTEXTITEM,		269,10, 24,12,	ES_NUMBER|ES_RIGHT
	EDITTEXT	FIRSTCTLTEXTITEM+1,		269,25, 24,12,	ES_NUMBER|ES_RIGHT
	EDITTEXT	FIRSTCTLTEXTITEM+2,		269,40, 24,12,	ES_NUMBER|ES_RIGHT
	EDITTEXT	FIRSTCTLTEXTITEM+3,		269,55, 24,12,	ES_NUMBER|ES_RIGHT
	EDITTEXT	FIRSTCTLTEXTITEM+4,		269,70, 24,12,	ES_NUMBER|ES_RIGHT
	EDITTEXT	FIRSTCTLTEXTITEM+5,		269,85, 24,12,	ES_NUMBER|ES_RIGHT
	EDITTEXT	FIRSTCTLTEXTITEM+6,		269,100, 24,12,	ES_NUMBER|ES_RIGHT
	EDITTEXT	FIRSTCTLTEXTITEM+7,		269,115, 24,12,	ES_NUMBER|ES_RIGHT
END

ID_BUILDDLG DIALOG DISCARDABLE  150,50, 208,243
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Make Standalone Filter"
FONT 8, "MS Sans Serif"
BEGIN
	DEFPUSHBUTTON	"&OK",IDOK,			156,219, 42,14
	PUSHBUTTON		"&Cancel",IDCANCEL,	106,219, 42,14

/* for initial values of the following EDITTEXT fields, see ui_build.c */
	EDITTEXT	CATEGORYITEM,			50,10, 148,12
	EDITTEXT	TITLEITEM,				50,25, 148,12
	EDITTEXT	COPYRIGHTITEM,			50,40, 148,24
	EDITTEXT	AUTHORITEM,				50,67, 148,12

	EDITTEXT	FIRSTMAPNAMEITEM,		50, 92, 50,12
	EDITTEXT	FIRSTMAPNAMEITEM+1,		50,122, 50,12
	EDITTEXT	FIRSTMAPNAMEITEM+2,		50,152, 50,12
	EDITTEXT	FIRSTMAPNAMEITEM+3,		50,182, 50,12

	EDITTEXT	FIRSTCTLNAMEITEM,		154, 92, 50,12
	EDITTEXT	FIRSTCTLNAMEITEM+1,		154,107, 50,12
	EDITTEXT	FIRSTCTLNAMEITEM+2,		154,122, 50,12
	EDITTEXT	FIRSTCTLNAMEITEM+3,		154,137, 50,12
	EDITTEXT	FIRSTCTLNAMEITEM+4,		154,152, 50,12
	EDITTEXT	FIRSTCTLNAMEITEM+5,		154,167, 50,12
	EDITTEXT	FIRSTCTLNAMEITEM+6,		154,182, 50,12
	EDITTEXT	FIRSTCTLNAMEITEM+7,		154,197, 50,12

	CHECKBOX	"Map 0",FIRSTMAPCHECKITEM,		10, 92, 35,12
	CHECKBOX	"Map 1",FIRSTMAPCHECKITEM+1,	10,122, 35,12
	CHECKBOX	"Map 2",FIRSTMAPCHECKITEM+2,	10,152, 35,12
	CHECKBOX	"Map 3",FIRSTMAPCHECKITEM+3,	10,182, 35,12

	CHECKBOX	"ctl(0)",FIRSTCTLCHECKITEM,		114, 92, 35,12
	CHECKBOX	"ctl(1)",FIRSTCTLCHECKITEM+1,	114,107, 35,12
	CHECKBOX	"ctl(2)",FIRSTCTLCHECKITEM+2,	114,122, 35,12
	CHECKBOX	"ctl(3)",FIRSTCTLCHECKITEM+3,	114,137, 35,12
	CHECKBOX	"ctl(4)",FIRSTCTLCHECKITEM+4,	114,152, 35,12
	CHECKBOX	"ctl(5)",FIRSTCTLCHECKITEM+5,	114,167, 35,12
	CHECKBOX	"ctl(6)",FIRSTCTLCHECKITEM+6,	114,182, 35,12
	CHECKBOX	"ctl(7)",FIRSTCTLCHECKITEM+7,	114,197, 35,12

	CHECKBOX	"Protect",PROTECTITEM,	10,219, 35,12
	CHECKBOX	"Obfuscate",OBFUSCITEM,	48,219, 50,12

	LTEXT		"Category:",100,		10,10, 35,12
	LTEXT		"Title:",101,			10,25, 35,12
	LTEXT		"Copyright:",102,		10,40, 35,12
	LTEXT		"Author:",103,			10,67, 35,12
END
