/*
    This file is part of "Filter Foundry", a filter plugin for Adobe Photoshop
    Copyright (C) 2003-2009 Toby Thain, toby@telegraphics.com.au
    Copyright (C) 2018-2021 Daniel Marschall, ViaThinkSoft

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
*/

/* Version info resource
   see http://msdn.microsoft.com/library/default.asp?url=/library/en-us/wcesdkr/html/_Tools_VERSIONINFO_Resource.asp
   and http://msdn.microsoft.com/library/default.asp?url=/library/en-us/tools/tools/versioninfo_resource.asp */

#include "winver.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_AUS
VS_VERSION_INFO VERSIONINFO
 FILEVERSION	VI_VERS_NUM
 PRODUCTVERSION	VI_VERS_NUM
 FILEFLAGSMASK	VS_FFI_FILEFLAGSMASK /*0x3fL*/
 FILEFLAGS		VI_FLAGS
 FILEOS			VOS__WINDOWS32
 FILETYPE		VFT_DLL
 FILESUBTYPE	VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080904B0"
        BEGIN
            VALUE "Comments",			VI_COMMENTS
            VALUE "CompanyName",		"Telegraphics Pty Ltd, www.telegraphics.com.au\0"
            VALUE "FileDescription",	"Filter Foundry plugin for Photoshop(R)\0"
            VALUE "FileVersion",		VERSION_STR "\0"
            /*VALUE "InternalName",		"FilterFoundry\0"*/
            VALUE "LegalCopyright",		"Copyright (C) 2003-2009 Toby Thain, 2018-" RELEASE_YEAR " Daniel Marschall\0"
            VALUE "License",			"This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version.\0"
            /*VALUE "LegalTrademarks",	"\0"*/
            VALUE "OriginalFilename",	"FilterFoundry.8bf\0"
            /*VALUE "PrivateBuild",		"\0"*/
            VALUE "ProductName",		"Filter Foundry\0"
            VALUE "ProductVersion",		VERSION_STR "\0"
            /*VALUE "SpecialBuild",		"\0"*/
        END
    END
    BLOCK "VarFileInfo" /* see http://msdn.microsoft.com/library/default.asp?url=/library/en-us/wcesdkr/html/_tools_VarFileInfo_Block.asp */
    BEGIN                                   /* Attention: The translation code must be equal to the "StringFileInfo" block's translation! */
        VALUE "Translation", 0x0809, 0x04B0	/* UK English, Unicode */
    END
END
