/*
    This file is part of "Filter Foundry", a filter plugin for Adobe Photoshop
    Copyright (C) 2003-2009 Toby Thain, toby@telegraphics.net
    Copyright (C) 2018-2022 Daniel Marschall, ViaThinkSoft

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
*/

/* wrapper file for Windows resource compiler input */

// This pragma is ignored by OpenWatcom
// If language.h and ui_win.rc are UTF-8 (without BOM):
// => MSVC++ requires this pragma to be set to code page 65001
// => OpenWatcom requires setting "-zku8" and "-bt=nt"
// If language.h and ui_win.rc are ANSI encoded:
// => MSVC++ requires this pragma to be MISSING
// => OpenWatcom requires setting "Single byte characters only" and "-bt=nt"
#pragma code_page(65001)

#include "Scripting.rc"
#include "PiPL.rc"
#include "ui_win.rc"
#include "manifest.rc"
#include "version_win.rc"
#include "language_win.rc"

// "1032 TPLT", "1064 TPLT", "3032 TPLT", and "3064 TPLT" will be added by the 3264_mixer tool
